.cart-container{
    background-color: #ff99004d !important;
    height: 100vh;
    text-align: center;
    padding: 100px 0;
    position: sticky;
    top: 0;
}
.cart-container h2{
    margin: 0;
}
.cart-container p{
    font-size: 17px;
}

.btn-clear-cart{
    width: 90%;
    margin: 10px 0;
    background: #FF3030;
    color: aliceblue;
    font-size: 18px;
    

}
