.review-container{
    margin: 50px auto;
}
.btn-proceed-checkout{
    width: 90%;
    margin: 10px 0;
    background: #FF9900;
    color: aliceblue;
    font-size: 18px;
}
.btn-icon{
    margin-left: 10px;
}